<section class="container" ng-controller="LoginCtrl as login">
	<div class="row">
		<header class="page-header"><h1>login form</h1></header>
		<form name="loginForm" ng-submit="login.login()" class="form-horizontal">
			<fieldset class="form-group">
				<label class="col-sm-2 control-label">login id</label>
				<div class="col-sm-10">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">(--)</span>
						<input type="text" name="loginId" class="form-control"
							placeholder="enter login id here."
							ng-model="login.loginId" ng-required="true"
							ng-minlength="0" ng-maxlength="10">
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label class="col-sm-2 control-label">password</label>
				<div class="col-sm-10">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">(^^)</span>
						<input type="password" name="password" class="form-control"
							placeholder="enter login id here!!"
							ng-model="login.password" ng-required="true"
							ng-minlength="0" ng-maxlength="10">
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				<input type="submit" value="login" class="btn btn-primary btn-lg col-sm-offset-2 col-sm-10">
			</div>
		</form>
		<p ng-if="loginForm.$dirty && loginForm.$invalid" class="alert alert-danger">入力内容に誤りがあります。</p>
	</div>
	<p>{{login | json}}</p>
</section>
